html{scroll-behavior: smooth;}
body{
  background: white;
    /* background-color: red; */
    /* background-color: radial-gradient(#065c95, transparent);  */
}
:root {
   
    --main-bg-color:  #097287;
  }
  .line{
    
    text-decoration: none;
    position: relative;
}


  .line::after{
    content: "";
    position: absolute;
    background-color: white;
     top:100%;
     left: 0%;
     width: 0%;
     height:2px;
     transition: all 0.5s ease-in-out;
}

.line:hover:after {
    width:100%;
    

}
  .navbar{
    background-color: var(--main-bg-color);
    
  }
  .navbar a{
    color:white;
    
  }
  .introtext{
      /* background-color: yellowgreen; */
      display: flex;
      justify-content: center;
      /* align-items: center; */
      justify-items: center;
      
  }
  .introtext p{
      padding:3%;
      text-align: justify;
      /* direction: rtl; */
  }

  .introtext i{
   align-self: flex-end;
   margin: 3%;
}




#postimg{
  display:none;
}
#labeforsetprofile{
  cursor: pointer;
text-align: center;
  background: radial-gradient(#056579, transparent);
 padding: 3%;
}
#imgspan{
display: inline-block;


}
input[type="file"]{
  display:none;

}
.cover{
  background: radial-gradient(#3cceeb, transparent);
  border:1px solid #3cceeb;
}
.cover div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.heart{
  position: fixed;
  top:15%;
  right:3%;
}


.logopart{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.logopart .parda{
  
  position: absolute;
  bottom:-153%;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:all 1s ease-in-out;
  background-color: white;
}
.logopart:hover .parda{
  bottom: 0;
  

}
hr{
  
  background-color: var(--main-bg-color);
  transition: all 1s ease-in-out;
}
hr:hover{
  width:100%;
}
p,h1{
  color: #043d49;
  
}

.dropdown-menu-right{
  background-color:#35c2de;
}
.fa-arrow-circle-left{color:var(--main-bg-color);}
.socailcover{
  position: fixed;
  top:26%;
  left:3%;
 
}
.social{display: flex;
 flex-direction: column;
}
.social a i{
color:var(--main-bg-color);
margin: 13% 0 10% 0%;
transition: all 0.5s ease-in-out;

}
.social a i:hover{
  text-shadow: 3px 3px 2px black;
 
  margin: 13% 0 10% 0%;
  }
  .about_imgwalacol{
    display: flex;
    justify-content: center;
    align-items: center;

  }


  /* 1111111111111111111111111 */
.blu{
  display: flex;

  justify-content: space-around;
  border-bottom: 1px solid #043d49;

 
}
.bli{
  list-style: none;
  height:20px;
  width:20px;
  border-radius: 50%;
  background-color: red;
  animation: bounce 2.0s linear infinite;
}
.bli:nth-child(1){
  animation-delay: 0.1s;
  background-color: green;
}
.bli:nth-child(2){
  animation-delay: 0.5s;
  background-color: rgb(250, 9, 69);
}
.bli:nth-child(3){
  animation-delay: 0.7s;
  background-color: rgb(202, 241, 24);
}
.bli:nth-child(4){

  background-color: blue;
}
.bli:nth-child(5){
  animation-delay: 0.1s;
  background-color: black;
}.bli:nth-child(6){
  animation-delay: 0.3s;
  background-color:green
}
.bli:nth-child(7){
  animation-delay: 0.8;
  background-color: rgb(236, 157, 10)
}
.bli:nth-child(8){
  animation-delay: 0.1s;
  background-color: red;
}
.bli:nth-child(9){
  animation-delay: 0.5s;
  background-color: blue;
}



.carousel-control-next-icon,.carousel-control-prev-icon{

  color: #1a0505;
    background: black;
    border-radius: 50%;
}


.imma{
  transition: all 1s ease-in-out;
}
.imma:hover{
transform: scale(0.8);
box-shadow: 2px 0px 6px 9px #00000063;

}
.userlist{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

















@keyframes bounce{
  0%{transform: translateY(0px)}
  50%{transform: translateY(-50px)}
  100%{transform: translateY(0px)}
}
/* 222222222222222222222222222222222222222222222222222222 */