body{
    /* background-color: red; */
    /* background-color: radial-gradient(#065c95, transparent);  */
}
:root {
   
    --main-bg-color:  #097287;
  }
  
  .navbar{
    background-color: var(--main-bg-color);
    
  }
  .navbar a{
    color:white;
    
  }
  .introtext{
      /* background-color: yellowgreen; */
      display: flex;
      justify-content: center;
      /* align-items: center; */
      justify-items: center;
      
  }
  .introtext p{
      padding:3%;
      text-align: justify;
      /* direction: rtl; */
  }

  .introtext i{
   align-self: flex-end;
   margin: 3%;
}




#postimg{
  display:none;
}
#labeforsetprofile{
  cursor: pointer;
text-align: center;
  background: radial-gradient(#056579, transparent);
 padding: 3%;
}
#imgspan{
display: inline-block;


}
input[type="file"]{
  display:none;

}
.cover{
  background: radial-gradient(#3cceeb, transparent);
  border:1px solid #3cceeb;
}
.cover div{
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.heart{
  position: absolute;
  top:20%;
  right:3%;
}


.logopart{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.logopart .parda{
  position: absolute;
  bottom:-150%;
  height:100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:all 1.5s ease-in-out;
  background-color: white;
}
.logopart:hover .parda{
  bottom: 0;
  

}
hr{
  background-color: var(--main-bg-color);
}
p,h1{
  color: #043d49;
  
}

.dropdown-menu-right{
  background-color:#35c2de;
}
.fa-arrow-circle-left{color:var(--main-bg-color);}
.socailcover{
  position: fixed;
  top:30%;
  left:3%;
 
}
.social{display: flex;
 flex-direction: column;
}
.social a i{
color:var(--main-bg-color);
margin: 13% 0 10% 0%;
transition: all 0.5s ease-in-out;

}
.social a i:hover{
  text-shadow: 3px 3px 2px black;
 
  margin: 13% 0 10% 0%;
  }
  